{% import "data/data.html" as data %}
		<!-- begin interface action panel -->

		<div class="int-action-panel">
			<div class="int-action-panel__left">
				{% for item in data.actionPanel %}
				 {% if (item.name == page)%}
					<div class="int-action-panel__item int-action-panel__item_top">
						{{ item.firstBtn | safe}}
					</div>
					<div class="int-action-panel__item int-action-panel__item_top">
						{{ item.secondBtn | safe}}
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="int-action-panel__right">
				<div class="int-action-panel__item int-action-panel__item_search">
					<span class="input-search input-search_responsive" data-target="input-search-wrapper">
						<span class="input-search__icon" data-target="input-search-icon">
							{{ mixins.icon('magnifying-glass') }}
						</span>
						<input type="search" class="input-search__field" placeholder="Search" data-target="input-search-field" />
					</span>
				</div>
				<div class="int-action-panel__item int-action-panel__item_filter">
					<div class="form-status-filter">
						<a href="#" class="form-status-filter__btn" data-target="filter-toggle-btn">Display</a>
						<div class="filter-overlay" data-target="filter-overlay"></div>
						<div data-target="checkbox-group" data-target-name="status-filter" data-select-type="multiple">
							<ul class="form-status-list form-status-filter__form-status-list" data-target="filter-list">
								<li class="form-status-list__item">
									<span class="form-status-list__btn form-status-list__btn_draft" data-target="filter-list-item" data-checkbox-anchor>Draft<label class="label-checkbox"><input type="checkbox" class="input-checkbox" value="Draft" name="status-filter[]" data-target="input-checkbox" /></label></span>
								</li>
								<li class="form-status-list__item">
									<span class="form-status-list__btn form-status-list__btn_commited" data-target="filter-list-item" data-checkbox-anchor>Committed<label class="label-checkbox"><input type="checkbox" class="input-checkbox" value="Committed" name="status-filter[]" data-target="input-checkbox" /></label></span>
								</li>
								<li class="form-status-list__item">
									<span class="form-status-list__btn form-status-list__btn_in-use" data-target="filter-list-item" data-checkbox-anchor>In Use<label class="label-checkbox"><input type="checkbox" class="input-checkbox" value="In Use" name="status-filter[]" data-target="input-checkbox" /></label></span>
								</li>
								<li class="form-status-list__item">
									<span class="form-status-list__btn form-status-list__btn_archived" data-target="filter-list-item" data-checkbox-anchor>Archived<label class="label-checkbox"><input type="checkbox" class="input-checkbox" value="Archived" name="status-filter[]" data-target="input-checkbox" /></label></span>
								</li>
								<li class="form-status-list__item">
									<span class="form-status-list__btn form-status-list__btn_assigned" data-target="filter-list-item" data-checkbox-anchor>Assigned<label class="label-checkbox"><input type="checkbox" class="input-checkbox" value="Assigned" name="status-filter[]" data-target="input-checkbox" /></label></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end interface action panel -->