<footer class="footer">
	<div class="footer__left">
		<a href="http://heidep.com/" target="_blank" class="copyright">{{mixins.icon('cloud')}}<span>Created by Heidep</span></a>
	</div>

	<div class="footer__right">
		<ul class="about-list">
			<li class="about-list__item"><a href="#" class="about-list__ref">Term and conditions</a></li>
			<li class="about-list__item"><span class="about-list__ref">&copy; True2Forms2017</span></li>
		</ul>
	</div>

	<div class="footer__center">
		<ul class="scale-text">
			<li class="scale-text__item">
				<a href="#" class="scale-text__btn">A+</a>
			</li>
			<li class="scale-text__item">
				<a href="#" class="scale-text__btn">A<span>–</span></a>
			</li>
		</ul>
	</div>
</footer>