---
title: True2forms - Better forms better fun
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<!-- begin content -->
	<div class="entry-page">
		<div class="entry-page__container">
			<div class="entry-form-holder">
				<div class="entry-form-holder__left">
					<ul class="entry-form-steps entry-form-holder__entry-form-steps">
						<li class="entry-form-steps__item"><a href="#" class="entry-form-steps__link">1</a></li>
						<li class="entry-form-steps__item"><a href="#" class="entry-form-steps__link is-active">2</a></li>
						<li class="entry-form-steps__item"><a href="#" class="entry-form-steps__link">3</a></li>
					</ul>
					<div class="entry-form-holder-bg-left entry-form-holder__bg-left">
						<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_rounded-rect-first"></div>
						<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_transparent-rect-first">
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_circle-upper-sq-1"></div>
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_circle-upper-border-1"></div>
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_circle-lower-border-1"></div>
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_circle-lower-sq-1"></div>
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_border-right-1"></div>
						</div>
						<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_rounded-rect-second"></div>
						<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_transparent-rect-second">
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_circle-upper-sq-2"></div>
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_circle-upper-border-2"></div>
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_circle-lower-border-2"></div>
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_circle-lower-sq-2"></div>
							<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_border-right-2"></div>
						</div>
						<div class="entry-form-holder-bg-left__item entry-form-holder-bg-left__item_right-border"></div>
					</div>
				</div>
				<div class="entry-form-holder__right">
					<form action="settings.html" class="entry-form" data-target="form" novalidate>
						<div class="entry-form-content entry-form__content">
							<h1 class="entry-form-content__h1">Signup</h1>
							<div class="entry-form-content__desc">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
							</div>
						</div>
						<div class="entry-form-inner entry-form-inner_signup">
							<div class="entry-form-inner__left">
								<div class="entry-form-inner__row">
									<input type="text" name="personal-name" class="input-text input-text_entry-page" placeholder="First & Last name *" required />
									<span class="input-error-message">Wrong name</span>
								</div>
								<div class="entry-form-inner__row">
									<input type="text" name="league-name" class="input-text input-text_entry-page" placeholder="League / Group name *" required />
									<span class="input-error-message">Wrong league</span>
								</div>
								<div class="entry-form-inner__row">
									<input type="email" name="email" class="input-text input-text_entry-page" placeholder="Email address *" required />
									<span class="input-error-message">Invalid email</span>
								</div>
							</div>
							<div class="entry-form-inner__right">
								<div class="entry-form-inner__row">
									<input type="password" name="password" class="input-text input-text_entry-page" placeholder="Password *" data-target="password-enter" required />
									<span class="input-error-message">Password should be longer than 6 characters</span>
								</div>
								<div class="entry-form-inner__row">
									<input type="password" name="password-repeat" class="input-text input-text_entry-page" placeholder="Repeat Password *" data-target="password-repeat"  required />
									<span class="input-error-message">Passwords don't match</span>
								</div>
								<div class="entry-form-inner__row">
									<div class="select-with-input">
										<div class="select-with-input__left">
											<!-- begin  custom select -->
											<div class="form-select" data-target="js-select" data-select="phone-prefix" data-select-name="phone-prefix" data-select-multiple="false">
												
												<span class="form-select-selected form-select__selected" data-target="js-select-toggle">
													<span class="form-select-selected__option"  data-target="js-selected-option">
														<span class="form-select-selected__image" style="background-image: url(img/flag.jpg)" data-target="js-select-selected-image"></span>
														<span class="form-select-selected__text" data-target="js-select-selected-text">+120</span>
													</span>
												</span>
												<div class="form-select__select-list-holder select-list-holder scrollbar-inner" data-target="js-select-holder">
													<ul class="select-list" data-target="js-select-list">
														{% for i in range(0, 20) -%}
														<li class="select-list__option" data-target="js-select-option" data-select-option="phone-prefix" data-select-option-value="+{{120 + i}}" data-select-option-type="add">
															<span class="select-list__value">
																<span class="select-list__image" style="background-image: url(img/flag.jpg)" data-target="js-select-image"></span>
																<span class="select-list__text"
																data-target="js-select-text">+{{120 + i}}</span>
															</span>
														</li>
														{% endfor %}
													</ul>
												</div>
											</div>
											<!-- end  custom select -->
										</div>
										<div class="select-with-input__right">
											<input type="tel" name="phone" class="input-text input-text_entry-page" placeholder="Phone number"  />
											<span class="input-error-message">Invalid phone number</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="entry-form-confirm entry-form__confirm entry-form-confirm entry-form__confirm_signup">
							<div class="entry-form-confirm__left">
								<div class="entry-form-confirm__left-link entry-form-confirm__left-link_back">
									<a href="sign-up.html" class="entry-form-confirm__link entry-form-confirm__link_back">Back</a>
								</div>
							</div>
							<div class="entry-form-confirm__btn-wrapper">
								<button class="button button_blue button_submit entry-form-confirm__btn" type="submit" disabled>{{mixins.icon('security')}}<span>Submit</span></button>
								<span class="entry-form-confirm__text">Have an account? <a href="login.html" class="entry-form-confirm__link entry-form-confirm__link_right">Login</a></span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="entry-page__footer">
				<ul class="nav-bottom">
					<li class="nav-bottom__item"><a href="http://heidep.com/" target="_blank" class="nav-bottom__link">{{mixins.icon('cloud')}}<span>Created by Heidep</span></a></li>
					<li class="nav-bottom__item"><a href="#" class="nav-bottom__link">Term and conditions</a></li>
					<li class="nav-bottom__item"><span class="nav-bottom__link">&copy; True2Forms 2017</span></li>
				</ul>
			</div>
		</div>		
	</div>
	<!-- end content -->
{% endblock %}