.icon-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-alarm-bell {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-alarm-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: #1D1D1B;
}
.icon-check-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cloud {
  width: 1.61em;
  height: 1em;
  fill: initial;
}
.icon-crop {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-geolocation {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gross-pencil {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-information-symbol {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-arrow {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-logout {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-magic-wand {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-magnifying-glass {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-man-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-move-to-next {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-point-at {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-problem {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-rotate {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-security {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shelter {
  width: 1em;
  height: 1em;
  fill: #000002;
}
.icon-shuffle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-signature {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-target {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
